# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock

# IntelliJ related
.idea/
*.iml

# VSCode related
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/
android/.gradle/
android/build/
android/app/build/
.android/
.flutter-*

# Web
web/build/

# Coverage
coverage/

# Firebase/Crashlytics
firebase_app_id_file.json
google-services.json
GoogleService-Info.plist
